@import "./src/assets/scss/partials/_mixins.scss";

.main-container {
    height: 100%;
    padding-top: 120px;

    @include mobile {
        padding-top: 56px;
    }

    .drawer-container {
        height: 100%;
        background-color: inherit;

        .home-content {
            padding: 16px 0;
            @include laptop {
                padding: 16px;
            }

            @include mobile {
                padding: 12px;
            }
        }
    }
}
