<mat-toolbar color="primary">
    <div class="page-content">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>{{ menuIcon }}</mat-icon>
        </button>
        <span class="spacer"></span>
        <img src="/assets/images/pokemon-logo.png" class="logo" alt="logo" />
        <span class="spacer"></span>
        <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
        >
            <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-toolbar>
