@import "./src/assets/scss/partials/_mixins.scss";

.header {
    position: fixed;

    .page-content {
        display: flex;
        width: 100%;

        .btn-menu-mobile {
            display: none;

            @include mobile {
                display: block;
            }
        }

        .logo {
            height: 48px;
        }
    }
}
