<form>
    <mat-form-field appearance="outline" class="form-control">
        <mat-label>Correo</mat-label>
        <input matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
        <mat-label>Contraseña</mat-label>
        <input matInput type="text" />
    </mat-form-field>
    <button type="submit" class="full-width" mat-flat-button color="primary">
        INGRESAR
    </button>
</form>

<div class="mt-32">
    <a routerLink="/auth/sign-up">¿Aún no tienes una cuenta?</a>
</div>
