@import "./src/assets/scss/partials/_mixins.scss";

.auth-content {
    width: 100%;
    display: flex;
    justify-content: right;
    background-image: url("/assets/images/pikachu.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
        background-image: none;
        justify-content: center;
    }

    .form {
        width: 100%;
        max-width: 420px;
        text-align: center;
        padding: 32px;

        @include mobile {
            padding: 32px 16px;
        }

        img {
            width: 260px;
            margin-bottom: 32px;
        }
    }
}
