<mat-drawer #drawer class="sidebar" mode="side">
    <mat-nav-list class="list">
        <mat-list-item
            class="list-item"
            routerLink="/home/pokemons"
            [routerLinkActive]="['list-item-active']"
            (click)="closeSidebar()"
        >
            <mat-icon matListItemIcon class="item-icon material-icons-outlined"
                >offline_bolt</mat-icon
            >
            <span matListItemTitle>Pokemons</span>
        </mat-list-item>
        <mat-list-item
            class="list-item"
            routerLink="/home/exercises/ordering"
            [routerLinkActive]="['list-item-active']"
            (click)="closeSidebar()"
        >
            <mat-icon matListItemIcon class="item-icon material-icons-outlined"
                >edit_calendar</mat-icon
            >
            <span matListItemTitle>Ejercicios</span>
        </mat-list-item>
    </mat-nav-list>
</mat-drawer>
