@import "./src/assets/scss/partials/_mixins.scss";

.navbar-container {
    height: 56px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(61, 119, 180, 0.12),
        0 8px 16px 0 rgba(91, 139, 199, 0.24);
    position: fixed;
    width: 100%;
    margin-top: 64px;

    @include mobile {
        display: none;
    }

    .list-horizontal {
        padding: 0;
        display: flex;

        .list-item {
            height: auto;
            width: auto;
            padding: 16px 24px;
            border-left: 1px solid #e0e8f5;

            &:last-child {
                border-right: 1px solid #e0e8f5;
            }

            &:focus {
                &::before {
                    background-color: initial;
                }
            }

            .item-icon {
                margin: 0px 8px 0 0;
            }

            .mat-mdc-list-item-title {
                color: #536d96;
            }
        }

        .list-item-active {
            .item-icon,
            .mat-mdc-list-item-title {
                color: #673ab7;
            }
        }
    }
}
